#main {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

#head {
    background-color: rgba(146, 146, 146, 0.228);
    height: 200px;
    margin-top: 50px;
    width: 100%;
    padding: 20px;
}

#title {
    text-align: center;
    font-size: 50px;
}

#subT {
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

#image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#image::after {
    content: "\a";
    white-space: pre;
}

#img-caption {
    text-align: center;
    font-style: italic;
}

#timeLineHead {
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
}

.timeLine {
    margin-left: 400px;
    margin-right: 400px;
    margin-top: 50px;
    margin-bottom: 50px;
}

#quote1 {
    font-weight: 350;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
}

li {
    margin: 16px 0;
    line-height: 1.5;
}

#tribute-link {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-weight: 600;
}

#quote2 {
    font-weight: 150;
    text-align: center;
}

